*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
body{
    background: #f3f5fc;

    
}
.img-logo{
    width: 100%;
    height: 50px;
    padding-top: 20px;
    padding-left: 40px;
    
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}
.texto{
position: absolute;
width: 42%;
height: 60%;
left: 12%;
top: 15%;
border: none;
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 48px;
background-color: #f3f5fc;
color: #0A3871;
resize: none;
outline: none;
cursor: pointer;
}
.texto::placeholder{
    color: #0A3871;
}
.span-terminos{
    position: absolute;
    display: flex;
    width: 80%;
    left: 12%;
    top: 80%;
}
.span-terminos img{
    width: 16px;
    height: 16px;
    left: 12%;
    
}
.span-terminos span{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
    
}

.botones{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 82%;
    gap: 24px;
}
.btn-encriptar{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background-color: #0a3871;
    color: #d8dfe8;
    border-radius: 24px;
    font-size: 18px;
    line-height: 19px;
    align-items: center;
    cursor: pointer;
}
.btn-desencriptar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 25%;
    background: #d8dfe8;
    border:1px solid #0a3871;
    border-radius: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    align-items: center;
    color: #0a3871;
    cursor: pointer;
}
.btn-encriptar:hover,
.btn-desencriptar:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}
.txt-desencriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 95%;
    left: 60%;
    top: 5%;
    background: #fff;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.textoEncritado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
    
}
.textoEncritado h2{
    width: 60%;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #343a40;
}
.textoEncritado p{
    width: 80%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;

}
.txt-desencriptado img {
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}
.container-copiar{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 380px;
    background-color: aqua;
    padding-left: 25px;
    

}
.btn-copiar{
    width: 280px;
    height: 55px;
    border-radius: 24px;
    background-color: #ffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    border:1px solid #0a3871;
    cursor: pointer;
    position: relative;
    top: 100px;
    right: 4px;
    
    

}

/*Media query*/
@media (max-width: 57.5em){
    .container{
        display: flex;
        flex-direction: row;
    }
    .encriptador{
        width: 100%;

    }
    .texto-Encriptador{
        width: 80%;
        height: 60%;
        left: 10%;
        top: 5%;
    }
    .span-terminos{
        width: 80%;
        left: 10%;
        top: 67%;
    }
    .span-terminos p{
        font-size: 16px;
    }
    .botones{
        width: 80%;
        left: 10%;
        top: 70%;
    }
    .btn-encriptar,
    .btn-desencriptar{
        width: 48%;
        border-radius: 16px;
    }
    .btn-encriptar:hover, .btn-desencriptar:hover{
        margin: 0.3%;
        width: 47.5%;
        padding: 1.8%;
    }
    .txt-desencriptado{
        width: 80%;
        height: 15%;
        left: 10%;
        top: 80%;

    }
    .textoEncritado{
        width: 100%;
        top: 5%;
    }
    .txt-desencriptado img{
        top: 0;
        display: none;
        visibility: inherit;
    }

}
